# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# vim
*~

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/runs
.gitattributes
/deps
/flatdir

# Files from Forge MDK
forge*changelog.txt
.factorypath

# songs
*.ogg

# Misc
CHANGELOG_OLD.md
oxipng.exe

common/src/generated/resources/.cache/*
datapacks/*/.cache/
datapacks/*/*.zip
datapacks/*.zip